In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read CSV 
df = pd.read_csv("..\Project3_Group1\Resources\Disasters.csv")
df

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1970-0013-ARG,1970,13,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25000.0,15.001282,NaN,NaN,NaN,NaN
1,1970-0109-AUS,1970,109,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Ada,...,NaN,NaN,NaN,NaN,72475.0,15.001282,NaN,NaN,NaN,NaN
2,1970-0044-BEN,1970,44,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200.0,15.001282,NaN,NaN,NaN,NaN
3,1970-0063-BGD,1970,63,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,3648000.0,NaN,NaN,86400.0,15.001282,NaN,NaN,NaN,NaN
4,1970-0026-BGD,1970,26,NaN,Natural,Meteorological,Storm,NaN,NaN,NaN,...,NaN,110.0,NaN,NaN,NaN,15.001282,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,2021-0449-YEM,2021,449,FL-2021-000110,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,67980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14640,2021-0075-ZAF,2021,75,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,400.0,NaN,NaN,75000.0,NaN,1;2,2707;77311;77312;77313;77315,77364;77367,"Free State, KwaZulu-Natal, Limpopo, Mpumalanga..."
14641,2021-0599-COD,2021,599,EP-2021-000138,Natural,Biological,Epidemic,Viral disease,NaN,Meningitis,...,NaN,301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14642,2021-0020-SRB,2021,20,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,22.0,NaN,NaN,NaN,NaN,1,25374;25378;25379;25380;25383;25386;25397,NaN,"Jablanicki, Kosovski, Kosovsko-mitrovatski, Ko..."
14643,2021-0481-SSD,2021,481,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Drop irrelevant and keep relevant columns
keep = ['Year', 'Disaster Type', 'Disaster Subtype', 'Total Affected', "Total Damages ('000 US$)", "Country"]
df = pd.read_csv("..\Project3_Group1\Resources\Disasters.csv", usecols=keep)
df

,Year,Disaster Type,Disaster Subtype,Country,Total Affected,Total Damages ('000 US$)
0,1970,Flood,NaN,Argentina,NaN,25000.0
1,1970,Storm,Tropical cyclone,Australia,NaN,72475.0
2,1970,Flood,NaN,Benin,NaN,200.0
3,1970,Storm,Tropical cyclone,Bangladesh,3648000.0,86400.0
4,1970,Storm,NaN,Bangladesh,110.0,NaN
...,...,...,...,...,...,...
14639,2021,Flood,NaN,Yemen,67980.0,NaN
14640,2021,Flood,NaN,South Africa,400.0,75000.0
14641,2021,Epidemic,Viral disease,Congo (the Democratic Republic of the),301.0,NaN
14642,2021,Flood,NaN,Serbia,22.0,NaN
14643,2021,Flood,NaN,South Sudan,500000.0,NaN

In [4]:
# Drop NaN values
df = df.dropna(how='any')
df

,Year,Disaster Type,Disaster Subtype,Country,Total Affected,Total Damages ('000 US$)
3,1970,Storm,Tropical cyclone,Bangladesh,3648000.0,86400.0
7,1970,Drought,Drought,Brazil,10000000.0,100.0
10,1970,Drought,Drought,Botswana,87600.0,2000.0
16,1970,Earthquake,Ground movement,Colombia,3006.0,400.0
25,1970,Earthquake,Ground movement,Ecuador,88112.0,4000.0
...,...,...,...,...,...,...
14620,2021,Flood,Flash flood,United States of America (the),636.0,950000.0
14621,2021,Flood,Flash flood,United States of America (the),89.0,100000.0
14622,2021,Flood,Flash flood,United States of America (the),600.0,25000.0
14625,2021,Wildfire,Forest fire,United States of America (the),2136.0,100000.0
14632,2021,Volcanic activity,Pyroclastic flow,Saint Vincent and the Grenadines,23400.0,325000.0

In [5]:
# Drop data where year is before 1995
df1 = df[df['Year'] >= 1995]
df1

,Year,Disaster Type,Disaster Subtype,Country,Total Affected,Total Damages ('000 US$)
3847,1995,Flood,Riverine flood,Azerbaijan,1650000.0,6700.0
3850,1995,Flood,Riverine flood,Bangladesh,351000.0,300.0
3851,1995,Storm,Convective storm,China,293453.0,36100.0
3858,1995,Storm,Tropical cyclone,Netherlands Antilles,40000.0,1000000.0
3863,1995,Storm,Tropical cyclone,Antigua and Barbuda,3702.0,350000.0
...,...,...,...,...,...,...
14620,2021,Flood,Flash flood,United States of America (the),636.0,950000.0
14621,2021,Flood,Flash flood,United States of America (the),89.0,100000.0
14622,2021,Flood,Flash flood,United States of America (the),600.0,25000.0
14625,2021,Wildfire,Forest fire,United States of America (the),2136.0,100000.0
14632,2021,Volcanic activity,Pyroclastic flow,Saint Vincent and the Grenadines,23400.0,325000.0

In [6]:
# Renaming countries for readability and cohesiveness 
df1.loc[df['Country'] == 'United States of America (the)', 'Country'] = 'USA'
df1.loc[df['Country'] == 'Philippines (the)', 'Country'] = 'Philippines'
df1.loc[df['Country'] == 'Viet Nam', 'Country'] = 'Vietnam'
df1.loc[df['Country'] == 'Russian Federation (the)', 'Country'] = 'Russia'
df1.loc[df['Country'] == 'Turks and Caicos Islands (the)', 'Country'] = 'Turks and Caicos Islands'
df1.loc[df['Country'] == 'Iran (Islamic Republic of)', 'Country'] = 'Iran'
df1.loc[df['Country'] == 'Korea (the Republic of)', 'Country'] = 'North Korea'
df1.loc[df['Country'] == "Korea (the Democratic People's Republic of)", 'Country'] = 'South Korea'
df1.loc[df['Country'] == 'United Kingdom of Great Britain and Northern Ireland (the)', 'Country'] = 'UK'
df1.loc[df['Country'] == 'Bolivia (Plurinational State of)', 'Country'] = 'Bolivia'
df1.loc[df['Country'] == 'Bahamas (the)', 'Country'] = 'The Bahamas'
df1.loc[df['Country'] == 'Czech Republic (the)', 'Country'] = 'Czech Republic'
df1.loc[df['Country'] == 'Dominican Republic (the)', 'Country'] = 'Dominican Republic'
df1.loc[df['Country'] == 'Comoros (the)', 'Country'] = 'The Comoros'
df1.loc[df['Country'] == 'Taiwan (Province of China)', 'Country'] = 'Taiwan'
df1.loc[df['Country'] == 'Venezuela (Bolivarian Republic of)', 'Country'] = 'Venezuela'
df1.loc[df['Country'] == "Lao People's Democratic Republic (the)", 'Country'] = 'Laos'
df1.loc[df['Country'] == "Congo (the Democratic Republic of the)", 'Country'] = 'Democratic Republic of the Congo'

In [7]:
# Renaming disaster subtype for readability 
df1.loc[df['Disaster Subtype'] == 'Land fire (Brush, Bush, Pasture)', 'Disaster Subtype'] = 'Land fire'

In [8]:
# Output to csv 
file_path = ("output.csv")
df1.to_csv(file_path, index=False)