In [35]:
# Dependencies
import pandas as pd
import numpy as np

In [36]:
# Read CSV 
df = pd.read_csv("..\Project3_Group1\Resources\Disasters.csv")
df

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1970-0013-ARG,1970,13,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,25000.0,15.001282,NaN,NaN,NaN,NaN
1,1970-0109-AUS,1970,109,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,Ada,...,NaN,NaN,NaN,NaN,72475.0,15.001282,NaN,NaN,NaN,NaN
2,1970-0044-BEN,1970,44,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200.0,15.001282,NaN,NaN,NaN,NaN
3,1970-0063-BGD,1970,63,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,3648000.0,NaN,NaN,86400.0,15.001282,NaN,NaN,NaN,NaN
4,1970-0026-BGD,1970,26,NaN,Natural,Meteorological,Storm,NaN,NaN,NaN,...,NaN,110.0,NaN,NaN,NaN,15.001282,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,2021-0449-YEM,2021,449,FL-2021-000110,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,67980.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14640,2021-0075-ZAF,2021,75,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,400.0,NaN,NaN,75000.0,NaN,1;2,2707;77311;77312;77313;77315,77364;77367,"Free State, KwaZulu-Natal, Limpopo, Mpumalanga..."
14641,2021-0599-COD,2021,599,EP-2021-000138,Natural,Biological,Epidemic,Viral disease,NaN,Meningitis,...,NaN,301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14642,2021-0020-SRB,2021,20,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,22.0,NaN,NaN,NaN,NaN,1,25374;25378;25379;25380;25383;25386;25397,NaN,"Jablanicki, Kosovski, Kosovsko-mitrovatski, Ko..."
14643,2021-0481-SSD,2021,481,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# Drop irrelevant and keep relevant columns
keep = ['Year', 'Disaster Type', 'Total Deaths', "Total Damages ('000 US$)", "Country",'ISO', 'Latitude', 'Longitude']
df = pd.read_csv("..\Project3_Group1\Resources\Disasters.csv", usecols=keep)
df

,Year,Disaster Type,Country,ISO,Latitude,Longitude,Total Deaths,Total Damages ('000 US$)
0,1970,Flood,Argentina,ARG,NaN,NaN,36.0,25000.0
1,1970,Storm,Australia,AUS,NaN,NaN,13.0,72475.0
2,1970,Flood,Benin,BEN,NaN,NaN,NaN,200.0
3,1970,Storm,Bangladesh,BGD,NaN,NaN,300000.0,86400.0
4,1970,Storm,Bangladesh,BGD,NaN,NaN,17.0,NaN
...,...,...,...,...,...,...,...,...
14639,2021,Flood,Yemen,YEM,NaN,NaN,11.0,NaN
14640,2021,Flood,South Africa,ZAF,NaN,NaN,31.0,75000.0
14641,2021,Epidemic,Congo (the Democratic Republic of the),COD,NaN,NaN,131.0,NaN
14642,2021,Flood,Serbia,SRB,NaN,NaN,NaN,NaN
14643,2021,Flood,South Sudan,SSD,NaN,NaN,7.0,NaN

In [38]:
# Drop NaN values
df = df.dropna(how='any')
df

,Year,Disaster Type,Country,ISO,Latitude,Longitude,Total Deaths,Total Damages ('000 US$)
25,1970,Earthquake,Ecuador,ECU,-4.026,-80.542,29.0,4000.0
39,1971,Earthquake,Chile,CHL,-32.601,-71.076,85.0,236400.0
102,1973,Earthquake,Costa Rica,CRI,10.679,-84.759,21.0,200.0
205,1976,Earthquake,China,CHN,39.57,117.978,242000.0,5600000.0
214,1976,Earthquake,Ecuador,ECU,0.782,79.804,10.0,4000.0
...,...,...,...,...,...,...,...,...
14329,2021,Earthquake,Indonesia,IDN,-2.976,118.901,110.0,58700.0
14424,2021,Earthquake,Japan,JPN,37.745,141.749,1.0,7500000.0
14528,2020,Storm,Viet Nam,VNM,20.691,105.183,5.0,1500.0
14560,2020,Flood,Ukraine,UKR,492.688,23.628,3.0,153861.0
14576,2020,Flood,Yemen,YEM,132.586,444.372,10.0,10000.0

In [39]:
# Drop data where year is before 1995
df1 = df[df['Year'] >= 2011]
df1

,Year,Disaster Type,Country,ISO,Latitude,Longitude,Total Deaths,Total Damages ('000 US$)
10201,2011,Flood,Bolivia (Plurinational State of),BOL,-16.4659,-65.6,52.0,20000.0
10207,2011,Flood,China,CHN,27.0633,108.11,6.0,54130.0
10208,2011,Flood,China,CHN,27.89,14.47,467.0,6400000.0
10209,2011,Flood,Colombia,COL,5.69,-74.15,138.0,1030000.0
10246,2011,Earthquake,China,CHN,24.727,97.957,25.0,290000.0
...,...,...,...,...,...,...,...,...
14329,2021,Earthquake,Indonesia,IDN,-2.976,118.901,110.0,58700.0
14424,2021,Earthquake,Japan,JPN,37.745,141.749,1.0,7500000.0
14528,2020,Storm,Viet Nam,VNM,20.691,105.183,5.0,1500.0
14560,2020,Flood,Ukraine,UKR,492.688,23.628,3.0,153861.0
14576,2020,Flood,Yemen,YEM,132.586,444.372,10.0,10000.0

In [40]:
# Renaming countries for readability and cohesiveness 
df1.loc[df['Country'] == 'United States of America (the)', 'Country'] = 'USA'
df1.loc[df['Country'] == 'Philippines (the)', 'Country'] = 'Philippines'
df1.loc[df['Country'] == 'Viet Nam', 'Country'] = 'Vietnam'
df1.loc[df['Country'] == 'Russian Federation (the)', 'Country'] = 'Russia'
df1.loc[df['Country'] == 'Turks and Caicos Islands (the)', 'Country'] = 'Turks and Caicos Islands'
df1.loc[df['Country'] == 'Iran (Islamic Republic of)', 'Country'] = 'Iran'
df1.loc[df['Country'] == 'Korea (the Republic of)', 'Country'] = 'North Korea'
df1.loc[df['Country'] == "Korea (the Democratic People's Republic of)", 'Country'] = 'South Korea'
df1.loc[df['Country'] == 'United Kingdom of Great Britain and Northern Ireland (the)', 'Country'] = 'UK'
df1.loc[df['Country'] == 'Bolivia (Plurinational State of)', 'Country'] = 'Bolivia'
df1.loc[df['Country'] == 'Bahamas (the)', 'Country'] = 'The Bahamas'
df1.loc[df['Country'] == 'Czech Republic (the)', 'Country'] = 'Czech Republic'
df1.loc[df['Country'] == 'Dominican Republic (the)', 'Country'] = 'Dominican Republic'
df1.loc[df['Country'] == 'Comoros (the)', 'Country'] = 'The Comoros'
df1.loc[df['Country'] == 'Taiwan (Province of China)', 'Country'] = 'Taiwan'
df1.loc[df['Country'] == 'Venezuela (Bolivarian Republic of)', 'Country'] = 'Venezuela'
df1.loc[df['Country'] == "Lao People's Democratic Republic (the)", 'Country'] = 'Laos'
df1.loc[df['Country'] == "Congo (the Democratic Republic of the)", 'Country'] = 'Democratic Republic of the Congo'

In [41]:
# Output to csv 
file_path = ("output.csv")
df1.to_csv(file_path, index=False)